doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
      div(class='right')
       a(href='login', class='login') login
    block content
