body {
  padding: 50px;
  padding-top: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
	width: 100%;
	height: 40px;
	padding: 5px;
	background-color: rgb(128, 255, 255);
}

.right {
	display: inline-block;
	float: right;
	vertical-align: middle;
}